li a{
    padding: 0px;
}
#parts_found{
    display:flex;
    align-items:left;
    justify-content:space-between;
}
#descriptor{
    display:flex;
    align-items:left;
    justify-content:space-between;
    flex-basis:auto;
}
#attributes{
    float:left;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex-basis:10%;
    flex-shrink:0;
    align-items:left;
}
#select_part{
    padding-top:15px;
}