li a{
    padding: 0px;
}
#parts_found{
    display:flex;
    align-items:left;
    justify-content:space-around;
}
#attributes{
    float:left;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
}