li a{
    padding: 0px;
}
#parts_found{
    display:flex;
    align-items:left;
    justify-content:space-between;
}
#descriptor{
    display:flex;
    justify-content:space-between;
    min-width:10%;
    max-width:100%;
}
.attributes{
    min-width:10%;
    max-width:10%;
}
#idColumn{
    flex-basis: 6%;
}
.select_part{
    padding-top:15px;
}