html{
    font-family:"Montserrat", sans-serif;
}
* {
    background-color: #22332C;
}
* p{
    color: #E0E2DB;
}
* a{
    color:#E0E2DB;
}
#navbar ul{
    list-style-type: none;
    margin:0;
    padding: 8px;
}
li{
    color: #E0E2DB;
}
#navbar li{
    display:inline;
    padding:8px
}
li a{
    padding: 8px;
}

