html{
    font-family:"Verdana", sans-serif;
}
* {
    background-color: #2E3532;
}
* p{
    color: #E0E2DB;
}
* a{
    color:#E0E2DB;
}
#navbar {
    list-style-type: none;
    margin:0;
    padding: 4px;
}
li{
    color: #E0E2DB;
}
#navbar li{
    display:inline;
}
li a{
    padding: 8px;
}

