<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
    <title>Del's PC Builder</title>
    <link rel="stylesheet" href="../static/coreStyle.css" type="text/css">
    <link rel="stylesheet" href="../static/builderStyle.css" type="text/css">
</head>
<body>
    <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/builder">Build</a></li>
    </ul>
    <ul id="actionbar">
        <a href="/clear">Clear list</a>
    </ul>
    <p>Parts list</p>
    <ul>
        <li>CPU: {{ userlist.cpu }} <a href="/choose?part=cpu"> Choose</a></li>
        <li>Mobo: {{ userlist.mobo }} <a href="/choose?part=mobo"> Choose</a></li>
        <li>RAM: {{ userlist.ram_kit }} <a href="/choose?part=ram_kit"> Choose</a></li>
        <li>GPU: {{ userlist.gpu }} <a href="/choose?part=gpu"> Choose</a></li>
        <li>Storage: {{ userlist.drive }} <a href="/choose?part=drive"> Choose</a></li>
        <li>PSU: {{ userlist.psu }} <a href="/choose?part=psu"> Choose</a></li>
        <li>Cooler: {{ userlist.cooler }} <a href="/choose?part=cooler"> Choose</a></li>
        <li>Case: {{ userlist.pc_case }} <a href="/choose?part=pc_case"> Choose</a></li>
    </ul>
</body>
</html>