<!doctype html>
<head>
<meta charset="UTF-8"/>
    <title>Del's PC Builder</title>
    <link rel="stylesheet" href="../static/coreStyle.css" type="text/css">
    <link rel="stylesheet" href="../static/builderStyle.css" type="text/css">
</head>
<body>
    <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/builder">Build</a></li>
    </ul>
    <ul id="actionbar">
        <button class="clear">Clear list</button>
    </ul>
    <p>Parts list</p>
    <ul>
        <li>CPU: {{ userlist.cpu }} <button> Choose</button></li>
        <li>Mobo: {{ userlist.mobo }} <button> Choose</button></li>
        <li>RAM: {{ userlist.ram_kit }} <button> Choose</button></li>
        <li>GPU: {{ userlist.gpu }} <button> Choose</button></li>
        <li>Storage: {{ userlist.drive }} <button> Choose</button></li>
        <li>PSU: {{ userlist.psu }} <button> Choose</button></li>
        <li>Cooler: {{ userlist.cooler }} <button> Choose</button></li>
        <li>Case: {{ userlist.pc_case }} <button> Choose</button></li>
    </ul>