<!doctype html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Del's PC Builder</title>
    <link rel="stylesheet" href="../static/coreStyle.css" type="text/css">
    <link rel="stylesheet" href="../static/chooseStyle.css" type="text/css">
</head>
<body>
    <ul id="navbar">
        <li><a href="/">Home</a></li>
        <li><a href="/builder">Build</a></li>
    </ul>
    <p>Compatible parts</p>
    <ul>
        <li id=descriptor><p id=itemIdPar>ID</p><p>Name</p>{% for desc in descriptors[type] %} <p>{{ desc }}</p> {% endfor %}<p>Price</p></li>
        {% for item in parts %}
            <li id=parts_found>
            {% for value in item %}
                <p class=attributes>{{ value }}</p>
            {% endfor %} <a href="/builder?type={{type}}&itemId={{item[0]}}" id=select_part class=attributes>Select</a>
            </li>
        {% endfor %}
    </ul>
</body>