<!doctype html>
<head>
	<meta charset="UTF-8"/>
	<title>Del's PC Builder</title>
	<link rel="stylesheet" href="../static/coreStyle.css" type="text/css">
    <link rel="stylesheet" href="../static/indexStyle.css" type="text/css">
</head>
<body>
	<ul id="navbar">
		<li><a href="index.html">Home</a></li>
		<li><a href="builder.html">Build</a></li>
		<li><a href="lists.html">Lists</a></li>
	</ul>
	<div id="recents">
		<p id="recents_title">Recently added lists</p>
		<!--this'll be replaced by template placeholders-->
        <!-- { lists.first } -->
		<ul>
			<li>{{ lists[0].cpu_id }}</li>
			<li>{{ lists[0].mobo_id }}</li>
			<li>{{ lists[0].ram_id }}</li>
			<li>{{ lists[0].gpu_id }}</li>
			<li>{{ lists[0].case_id }}</li>
            <li>{{ lists[0].cooler_id }}</li>
			<li>{{ lists[0].psu_id</li>
		</ul>
        <!-- { lists.second } -->
		<ul>
			<li>item</li>
		</ul>
        <!-- { lists.third } -->
		<ul>
			<li>item2</li>
		</ul>
        <!-- { lists.fouth } -->
		<ul>
			<li>item3</li>
		</ul>
		
	</div>
	<div id="featured">
		<p>Today's featured list</p>
		<!--more template placeholders soontm-->
		<ul>
			<li>CPU</li>
			<li>MOBO</li>
			<li>RAM</li>
			<li>GPU</li>
			<li>Case</li>
			<li>PSU</li>
		</ul>
	</div>
</body>
