<!doctype html>
<head>
	<meta charset="UTF-8"/>
	<title>Del's PC Builder</title>
	<link rel="stylesheet" href="../static/coreStyle.css" type="text/css">
    <link rel="stylesheet" href="../static/indexStyle.css" type="text/css">
</head>
<body>
	<ul id="navbar">
		<li><a href="index.html">Home</a></li>
		<li><a href="builder.html">Build</a></li>
		<li><a href="lists.html">Lists</a></li>
	</ul>
	<div id="recents">
		<p id="recents_title">Recently added lists</p>
		<!--this'll be replaced by template placeholders-->
        <!-- { lists.first } -->
		<ul>
			<li>{{ lists[1].cpu_id }}</li>
			<li>{{ lists[1].mobo_id }}</li>
			<li>{{ lists[1].ram_id }}</li>
			<li>{{ lists[1].gpu_id }}</li>
			<li>{{ lists[1].case_id }}</li>
            <li>{{ lists[1].cooler_id }}</li>
			<li>{{ lists[1].psu_id }}</li>
		</ul>
        <!-- { lists.second } -->
		<ul>
            <li>{{ lists[2].cpu_id }}</li>
            <li>{{ lists[2].mobo_id }}</li>
            <li>{{ lists[2].ram_id }}</li>
            <li>{{ lists[2].gpu_id }}</li>
            <li>{{ lists[2].case_id }}</li>
            <li>{{ lists[2].cooler_id }}</li>
            <li>{{ lists[2].psu_id }}</li>
		</ul>
        <!-- { lists.third } -->
		<ul>
            <li>{{ lists[3].cpu_id }}</li>
            <li>{{ lists[3].mobo_id }}</li>
            <li>{{ lists[3].ram_id }}</li>
            <li>{{ lists[3].gpu_id }}</li>
            <li>{{ lists[3].case_id }}</li>
            <li>{{ lists[3].cooler_id }}</li>
            <li>{{ lists[3].psu_id }}</li>
		</ul>
        <!-- { lists.fouth } -->
		<ul>
            <li>{{ lists[4].cpu_id }}</li>
            <li>{{ lists[4].mobo_id }}</li>
            <li>{{ lists[4].ram_id }}</li>
            <li>{{ lists[4].gpu_id }}</li>
            <li>{{ lists[4].case_id }}</li>
            <li>{{ lists[4].cooler_id }}</li>
            <li>{{ lists[4].psu_id }}</li>
		</ul>
		
	</div>
	<div id="featured">
		<p>Today's featured list</p>
		<!--more template placeholders soontm-->
		<ul>
            <li>{{ lists[0].cpu_id }}</li>
            <li>{{ lists[0].mobo_id }}</li>
            <li>{{ lists[0].ram_id }}</li>
            <li>{{ lists[0].gpu_id }}</li>
            <li>{{ lists[0].case_id }}</li>
            <li>{{ lists[0].cooler_id }}</li>
            <li>{{ lists[0].psu_id }}</li>
		</ul>
	</div>
</body>
